<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <!-- https://github.com/php-coveralls/php-coveralls#phpunit -->
            <clover outputFile="build/logs/clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="unit">
            <directory>./test/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
